{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}

       <section class="padding-medium story bg-light" id="about">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row">


                <div class="col-7 ml-4">
                    <h1 class="pb-1">O aplikacji</h1>
                    <p>Książka Pani Iksińskiej promuje zdrowe odżywianie
                        i podkreśla jak ważną rolę odgrywa w nim planowanie posiłków.
                        Dlatego stworzyliśmy aplikację, która ułatwi Ci ułożenie planu i sprawi, że zaoszczędzisz
                        mnóstwo czasu
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}