{% extends "__base__.html" %}
{% block title %}{% endblock %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">

    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding">
            <h3 class="color-header text-uppercase">LISTA PLANÓW</h3>
            <h6 class="color-header text-uppercase"> ILOŚĆ PLANÓW: {{ count }}</h6>
        </div>
{#        <div class="col d-flex justify-content-end mb-2 noPadding">#}
{#            <a href="{% url "add_recipe_to_plan" %}"#}
{#               class="btn btn-success rounded-40 pt-40 pb-50 pr-12 pl-4">dodaj przepis <p>do planu</p></span>#}
{#                            </a>#}
{#                        </div>#}
        <div class="col d-flex justify-content-end mb-5">
            <a href="/plan/add/"
               class="btn btn-success rounded-0 pt-2 pb-2 pr-4 pl-4">Dodaj plan</a>
        </div>
    </div>

    <div class="schedules-content">
        <table class="table border-bottom">
            <thead>
            <tr class="d-flex">
                <th class="col-1">ID</th>
                <th class="col-2">NAZWA</th>
                <th class="col-7">OPIS</th>
                <th class="col-2 center">AKCJE</th>
            </tr>
            </thead>
            {% for plan in plan_p %}
            <tbody class="text-color-lighter">
            <tr class="d-flex">
                <td id="{{ plan.id }}" class="col-1">{{plan.id}}</td>
                <td class="col-2">{{plan.name}}</td>
                <td class="col-7">
                    {{plan.description}}
                </td>
                <td class="col-2 d-flex align-items-center justify-content-center flex-wrap">
                    <a href="{% url 'plan_remove' plan.id %}" class="btn btn-danger rounded-0 text-light m-1">Usuń</a>
                    <a href="/plan/{{plan.id}}/"
                       class="btn btn-info rounded-0 text-light m-1">Szczegóły</a>
                    <a href="{% url 'plan_modify' plan.id %}"
                       class="btn btn-warning rounded-0 text-light m-1">Edytuj</a>
                </td>
            </tr>
            </tbody>
            {% endfor %}
        </table>
            {% if plan_p.has_other_pages %}
              <ul class="pagination">
                {% if plan_p.has_previous %}
                  <li><a href="?page={{ plan_p.previous_page_number }}">< poprzednia</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in plan_p.paginator.page_range %}
                  {% if plan_p.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(| current |)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">| {{ i }} |</a></li>
                  {% endif %}
                {% endfor %}
                {% if plan_p.has_next %}
                  <li><a href="?page={{ plan_p.next_page_number }}">następna ></a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
    </div>
</div>
{% endblock content %}