{% extends "__base__.html" %}
{% block title %}{% endblock title %}
{% block content %}
    <div class="dashboard-content border-dashed p-3 m-4 view-height">

    {% if message %}
        <span style="color:red;">{{ message }}</span>
    {% endif %}

        <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="recipe_modify_id" value="{{ recipe.id }}">
        <div class="mt-4 ml-4 mr-4">
            <div class="row border-bottom border-3">
                <div class="col"><h3 class="color-header text-uppercase">Edycja
                    przepisu</h3></div>
                <div class="col d-flex justify-content-end mb-2">
                    <button type="submit"
                            class="btn btn-color rounded-0 pt-0 pb-0 pr-4 pl-4" name="recipe_modify_save">
                        Wyślij
                    </button>
                </div>
            </div>

            <table class="table borderless">
                <tbody>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Nazwa Przepisu</th>
                    <td class="col-7">
                        <input type="text" name="recipe_modify_name" class="w-100 p-1" value="{{ recipe.name }}">
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Opis przepisu</th>
                    <td class="col-7"><textarea name="recipe_modify_description" class="w-100 p-1"
                                                rows="5">{{ recipe.description }}</textarea>
                    </td>
                </tr>
                <tr class="d-flex">
                    <th scope="row" class="col-2">Przygotowani(minuty)</th>
                    <td class="col-3">
                        <input name="recipe_modify_preparation_time" class="p-1" type="number"
                               value="{{ recipe.preparation_time_mins }}">
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="row d-flex">
                <div class="col-5 border-bottom border-3"><h3
                        class="text-uppercase">Sposób przygotowania</h3></div>
                <div class="col-2"></div>
                <div class="col-5 border-bottom border-3"><h3
                        class="text-uppercase">Składniki</h3></div>
            </div>
            <div class="row d-flex">
                <div class="col-5 p-4">
                    <textarea name="recipe_modify_preparation_description" class="w-100 p-1"
                              rows="10">{{ recipe.preparation_description }}</textarea>
                </div>
                <div class="col-2"></div>

                <div class="col-5 p-4">
                    <textarea name="recipe_modify_ingredients" class="w-100 p-1"
                                                  rows="10">{{ recipe.ingredients }}</textarea>
                </div>
            </div>
        </div>
    </form>
    </div>
{% endblock content %}